################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fastfood/.vs/fastfood/FileContentIndex/a4ecad01-e1b3-4223-90db-5d48047185c6.vsidx
/fastfood/.vs/fastfood/FileContentIndex/a9a85a8e-a4cb-4b6b-b0d9-52e07bb4d956.vsidx
/fastfood/.vs/fastfood/FileContentIndex/b1b424fd-497c-4197-9e17-90997298037e.vsidx
/fastfood/.vs
/fastfood/FrontEnd/obj
/fastfood/FrontEnd/bin
/fastfood/BackEnd/obj
/fastfood/BackEnd/bin
/fastfood/.vs/fastfood/v17/DocumentLayout.json
/fastfood/BackEnd/obj/Debug
