################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fastfood/.vs/fastfood/FileContentIndex/a4ecad01-e1b3-4223-90db-5d48047185c6.vsidx
