@page "/about"
<section class="about_section layout_padding my-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="Img/hamburger.jpg" alt="Hình ảnh về Chúng Tôi" class="about-img img-fluid rounded shadow">
            </div>
            <div class="col-md-7">
                <div class="detail-box">
                    <h2 class="heading_container text-warning">Chúng Tôi Là Fast Foods</h2>
                    <p class="about-text text-warning">
                        Có nhiều phiên bản khác nhau của đoạn văn Lorem Ipsum, nhưng phần lớn đã bị thay đổi theo một số cách, bởi sự hài hước được chèn vào hoặc những từ ngẫu nhiên không trông chút nào đáng tin cậy. Nếu bạn định sử dụng một đoạn văn Lorem Ipsum, bạn cần đảm bảo rằng không có điều gì đáng xấu hổ ẩn giấu ở giữa văn bản.
                    </p>
                    <a href="#" class="btn btn-primary">Đọc Thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>

