@page "/"

<PageTitle>Home</PageTitle>
@* <link href="~/Product.css" rel="stylesheet" /> *@
<header>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="Img/banner big_ 1.jpg" class="d-block w-100" alt="..." height="450px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="Img/banner big_2.jpg" class="d-block w-100" alt="..." height="450px">
            </div>
            <div class="carousel-item">
                <img src="Img/banner big_3.jpg" class="d-block w-100" alt="..." height="450px">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>
<div class="container">
    @* Category Start *@
    <section class="navbar-nav">
        <ul class="filters_menu nav justify-content-center">
            <li class="nav-item">
                <NavLink class="nav-link" href="#">All</NavLink>
            </li>
            @if(Categories == null)
            {
                <p>Loading...</p>
            } else
            {
                foreach(var item in Categories)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="#">@item.Name</NavLink>
                    </li>
                }
            }
        </ul>
    </section>
    @* Category End *@
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @* List Product Start *@
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card product-card">
                            <a href="#">
                                <NavLink class="nav-link" href="productdetails">
                                    <img alt="Product" src="http://placehold.it/350x260" class="card-img-top">
                                </NavLink>

                            </a>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    @* Product Name *@
                                    <h5>Pizza Cơn lốc hải sản</h5>
                                    @* Description *@
                                    <p>
                                        Mực, thanh cua, thơm, ớt chuông, hành tây và phô mai mozzarella
                                    </p>
                                    @* Price *@
                                    <span> Giá : $15.00</span>
                                    @* button *@
                                    <div class="mt-2">
                                        <a href="#" class="btn btn-outline-dark"><i class="fas fa-align-left mx-1"></i>Detail</a>
                                        <a href="#" class="btn btn-outline-dark"><i class="fas fa-shopping-cart mx-1"></i></a>
                                    </div>
                                </NavLink>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card product-card">
                            <a href="#">
                                <NavLink class="nav-link" href="productdetails">
                                    <img alt="Product" src="http://placehold.it/350x260" class="card-img-top">
                                </NavLink>

                            </a>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5>Pizza Cơn lốc hải sản</h5>
                                    <p>
                                        Mực, thanh cua, thơm, ớt chuông, hành tây và phô mai mozzarella
                                    </p>
                                    <span> Giá : $15.00</span>
                                    <div class="mt-2">
                                        <a href="#" class="btn btn-outline-dark"><i class="fas fa-align-left mx-1"></i>Detail</a>
                                        <a href="#" class="btn btn-outline-dark"><i class="fas fa-shopping-cart mx-1"></i></a>
                                    </div>
                                </NavLink>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card product-card">
                            <a href="#">
                                <NavLink class="nav-link" href="productdetails">
                                    <img alt="Product" src="http://placehold.it/350x260" class="card-img-top">
                                </NavLink>

                            </a>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5>Pizza Cơn lốc hải sản</h5>
                                    <p>
                                        Mực, thanh cua, thơm, ớt chuông, hành tây và phô mai mozzarella
                                    </p>
                                    <span> Giá : $15.00</span>
                                    <div class="mt-2">
                                        <a href="#" class="btn btn-outline-dark"><i class="fas fa-align-left mx-1"></i>Detail</a>
                                        <a href="#" class="btn btn-outline-dark"><i class="fas fa-shopping-cart mx-1"></i></a>
                                    </div>
                                </NavLink>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card product-card">
                            <a href="#">
                                <NavLink class="nav-link" href="productdetails">
                                    <img alt="Product" src="http://placehold.it/350x260" class="card-img-top">
                                </NavLink>

                            </a>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5>Pizza Cơn lốc hải sản</h5>
                                    <p>
                                        Mực, thanh cua, thơm, ớt chuông, hành tây và phô mai mozzarella
                                    </p>
                                    <span> Giá : $15.00</span>
                                    <div class="mt-2">
                                        <a href="#" class="btn btn-outline-dark"><i class="fas fa-align-left mx-1"></i>Detail</a>
                                        <a href="#" class="btn btn-outline-dark"><i class="fas fa-shopping-cart mx-1"></i></a>
                                    </div>
                                </NavLink>

                            </div>
                        </div>
                    </div>
                </div>
                @* List Product End *@
                @* Pagination Start *@
                <div class="view-more-container ">
                    <div class="col-12">
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination justify-content-center text-dark">
                                <li class="page-item">
                                    <a class="page-link text-dark" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item "><a class="page-link text-dark" href="#">1</a></li>
                                <li class="page-item "><a class="page-link text-dark" href="#">2</a></li>
                                <li class="page-item "><a class="page-link text-dark" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link text-dark" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                @* Pagination End *@
            </div>
        </div>
    </div>
</div>
<section class="about_section layout_padding my-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="Img/hamburger.jpg" alt="About Us Image" class="about-img img-fluid rounded shadow">
            </div>
            <div class="col-md-7">
                <div class="detail-box">
                    <h2 class="heading_container text-warning">We Are Feane</h2>
                    <p class="about-text text-warning">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
@* Bảng thông tin *@
<section>
    <div class="container">
        <div class="row">
            <h3 class="text-center mb-4">Reserve a Table</h3>
            <div class="col-6">
                <form class="p-4 shadow rounded bg-white">
                    <div class="mb-3">
                        <label for="customerName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="customerName" placeholder="Enter your name" required>
                    </div>
                    <div class="mb-3">
                        <label for="customerEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="customerEmail" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-3">
                        <label for="reservationDate" class="form-label">Date</label>
                        <input type="date" class="form-control" id="reservationDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="reservationTime" class="form-label">Time</label>
                        <input type="time" class="form-control" id="reservationTime" required>
                    </div>
                    <div class="mb-3">
                        <label for="partySize" class="form-label">Party Size</label>
                        <input type="number" class="form-control" id="partySize" min="1" placeholder="Enter number of people" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success w-100">Reserve Table</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <img src="Img/Dathang.jpg" alt="Alternate Text" / class="h-100 w-100">
            </div>
        </div>
    </div>
</section>




