@page "/menu"
@inherits Home
<div class="container">
    <h1 class="text-center text-danger">Menu order</h1>
    <section class="navbar-nav">
        <ul class="filters_menu nav justify-content-center">
            <li class="nav-item">
                <NavLink class="nav-link active" href="#" data-filter="*">All</NavLink>
            </li>
            @if (Categories == null)
            {
                <p>Loading ...</p>
            }
            else
            {
                @foreach (var item in Categories)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="#">@item.Name</NavLink>
                    </li>
                }
            }
        </ul>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <a class="link_product" href="#">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title">Name Product™<br><b>000 VNĐ</b></p>
                                </div>
                            </a>
                            <div class="text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <a class="link_product" href="#">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title">Name Product<br><b>000 VNĐ</b></p>
                                </div>
                            </a>
                            <div class="text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <a class="link_product" href="#">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title">Name Product<br><b>000 VNĐ</b></p>
                                </div>
                            </a>
                            <div class="text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <a class="link_product" href="#">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title">Name Product<br><b>000 VNĐ</b></p>
                                </div>
                            </a>
                            <div class="text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <a class="link_product" href="#">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title">Name Product<br><b>000 VNĐ</b></p>
                                </div>
                            </a>
                            <div class="text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <a class="link_product" href="#">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title">Name Product<br><b>000 VNĐ</b></p>
                                </div>
                            </a>
                            <div class="text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <a class="link_product" href="#">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title">Name Product<br><b>000 VNĐ</b></p>
                                </div>
                            </a>
                            <div class="text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <a class="link_product" href="#">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-title">Name Product<br><b>000 VNĐ</b></p>
                                </div>
                            </a>
                            <div class="text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-more-container text-center">
                    <button class="btn btn-primary view-more-button">
                        View More
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
