@page "/menu"
<div class="container">
    <h1 class="text-center text-danger">Menu order</h1>
    <section class="navbar-nav">
        <ul class="filters_menu nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-filter="*">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-filter=".Combo">Combo</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" href="#" data-filter=".burger">Burger</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-filter=".chicken">Chicken</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-filter=".pasta">Pasta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-filter=".sidedish">Side Dish</a>
            </li>

        </ul>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <NavLink class="nav-link" href="productdetails">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" class="card-img-top" alt="Product Image">
                            </NavLink>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5 class="card-title">Product Name</h5>
                                    <p class="card-text">details, details, details</p>
                                    <p class="card-price">000₫</p>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <NavLink class="nav-link" href="productdetails">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" class="card-img-top" alt="Product Image">
                            </NavLink>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5 class="card-title">Product Name</h5>
                                    <p class="card-text">details, details, details</p>
                                    <p class="card-price">000₫</p>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <NavLink class="nav-link" href="productdetails">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" class="card-img-top" alt="Product Image">
                            </NavLink>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5 class="card-title">Product Name</h5>
                                    <p class="card-text">details, details, details</p>
                                    <p class="card-price">000₫</p>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <NavLink class="nav-link" href="productdetails">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" class="card-img-top" alt="Product Image">
                            </NavLink>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5 class="card-title">Product Name</h5>
                                    <p class="card-text">details, details, details</p>
                                    <p class="card-price">000₫</p>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <NavLink class="nav-link" href="productdetails">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" class="card-img-top" alt="Product Image">
                            </NavLink>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5 class="card-title">Product Name</h5>
                                    <p class="card-text">details, details, details</p>
                                    <p class="card-price">000₫</p>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <NavLink class="nav-link" href="productdetails">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" class="card-img-top" alt="Product Image">
                            </NavLink>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5 class="card-title">Product Name</h5>
                                    <p class="card-text">details, details, details</p>
                                    <p class="card-price">000₫</p>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <NavLink class="nav-link" href="productdetails">
                                <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" class="card-img-top" alt="Product Image">
                            </NavLink>
                            <div class="card-body text-center">
                                <NavLink class="nav-link" href="productdetails">
                                    <h5 class="card-title">Product Name</h5>
                                    <p class="card-text">details, details, details</p>
                                    <p class="card-price">000₫</p>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card product-card">
                            <NavLink class="nav-link" href="productdetails">
                                <a class="nav-link p-0" href="productdetails">
                                    <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" class="card-img-top" alt="Product Image">
                                </a>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Product Name</h5>
                                    <p class="card-text">details, details, details</p>
                                    <p class="card-price">000₫</p>
                                </div>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <div class="view-more-container text-center">
                    <button class="btn btn-primary view-more-button">
                        View More
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
