@page "/productdetails"
<link href="/Product.css" rel="stylesheet" />
<div class="product-details">
    <div class="product-image">
        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="#">
    </div>
    <div class="product-info">
        <h2>Product Name</h2>
        <div class="description">
            <ul>
                <li>Details product</li>
            </ul>
            <div class="price">
                <h5 style="display: inline;">Giá bán:</h5>
                <span class="current-price" style="display: inline;">000VNĐ</span>
            </div>
        </div>
        <div class="order-links">
            <ul>
                <NavLink class="nav-link" href="cartcustomer">
                    <a href="cartcustomer" type="button" class="btn btn-dark btn-block">Add to card</a>
                </NavLink>
            </ul>
        </div>
        <div class="social-share">
            <p>Chia sẻ:</p>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card">
                        <NavLink class="nav-link" href="productdetails">
                            <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" style="width: 350px; height: auto" class="card-img-top" alt="Product Image">
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card">
                        <NavLink class="nav-link" href="productdetails">
                            <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" style="width: 350px; height: auto" class="card-img-top" alt="Product Image">
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card">
                        <NavLink class="nav-link" href="productdetails">
                            <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" style="width: 350px; height: auto" class="card-img-top" alt="Product Image">
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card">
                        <NavLink class="nav-link" href="productdetails">
                            <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" style="width: 350px; height: auto" class="card-img-top" alt="Product Image">
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card">
                        <NavLink class="nav-link" href="productdetails">
                            <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" style="width: 350px; height: auto" class="card-img-top" alt="Product Image">
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card">
                        <NavLink class="nav-link" href="productdetails">
                            <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" style="width: 350px; height: auto" class="card-img-top" alt="Product Image">
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card">
                        <NavLink class="nav-link" href="productdetails">
                            <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" style="width: 350px; height: auto" class="card-img-top" alt="Product Image">
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card">
                        <NavLink class="nav-link" href="productdetails">
                            <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" style="width: 350px; height: auto" class="card-img-top" alt="Product Image">
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

