@page "/productdetails"
<link href="/Product.css" rel="stylesheet" />
<div class="product-details">
    <div class="product-image">
        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp" alt="#">
    </div>
    <div class="product-info">
        <h2>Product Name</h2>
        <div class="price">
            <h3 style="display: inline;">Giá bán:</h3>
            <span class="current-price" style="display: inline;">000VNĐ</span>
        </div>
        <div class="description">
            <ul>
                <li>Details product</li>
                <li>Details</li>
                <li>Details</li>
            </ul>
        </div>
        <div class="order-links">
            <ul>
                <NavLink class="nav-link" href="cartcustomer">
                    <a href="cartcustomer" type="button" class="btn btn-dark btn-block">Add to card</a>
                </NavLink>
            </ul>
        </div>
        <div class="social-share">
            <p>Chia sẻ:</p>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<h5>List Product</h5>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                <!-- Sản phẩm 1 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 1<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="productdetails">
                                <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <!-- Sản phẩm 2 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 2<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="productdetails">
                                <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <!-- Sản phẩm 3 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 3<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="productdetails">
                                <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <!-- Sản phẩm 4 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 4<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="productdetails">
                                <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <!-- Sản phẩm 5 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 5<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="productdetails">
                                <a href="productdetails" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                <!-- Sản phẩm 6 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 6<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="details" Match="NavLinkMatch.All">
                                <a href="details" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <!-- Sản phẩm 7 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 7<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="details" Match="NavLinkMatch.All">
                                <a href="details" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <!-- Sản phẩm 8 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 8<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="details" Match="NavLinkMatch.All">
                                <a href="details" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <!-- Sản phẩm 9 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 9<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="details" Match="NavLinkMatch.All">
                                <a href="details" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <!-- Sản phẩm 10 -->
                <div class="col">
                    <div class="card product-card">
                        <img src="https://mcdonalds.vn/uploads/2018/food/evm/xEVM_03_6pcs_chicken_mcnuggets_0.png.pagespeed.ic.5p8-nnCwK_.webp"
                             class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <p class="card-title">Name Product 10<br><b>000 VNĐ</b></p>
                            <NavLink class="nav-link" href="details" Match="NavLinkMatch.All">
                                <a href="details" class="btn btn-dark btn-block">Details</a>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
