@page "/signUp"
@layout AccountLayoutPage
<link rel="stylesheet" href="~/login.css" />

<div class="full-height d-flex justify-content-center align-items-center">
    <div class="col-lg-4">
        <div class="container">
            <h3 class="text-center mb-4 text-white">Đăng ký</h3>
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label text-white">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-white">Email</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-white">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label text-white">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" id="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-3">Đăng ký</button>
            </form>
            <div class="text-center mt-3">
                <NavLink class="nav-link text-white" href="/login">
                    <span>Quay lại đăng nhập</span>
                </NavLink>
            </div>
        </div>
        
    </div>
</div>

<style>
    .full-height {
        height: 100vh;
    }
</style>

@code {

}
