@inherits LayoutComponentBase

<div class="page">
    <nav>
        <NavMenu />
    </nav>

    <main>
        @Body
    </main>
    @* Cuối *@
    <footer class="text-light py-5 my-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Feane</h5>
                    <p>Feane is a premier destination for exquisite dining experiences, offering a fusion of flavors that delight the senses.</p>
                </div>
                <div class="col-md-4">
                    <h5>Contact Information</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-map-marker-alt"></i> 123 Street, City, Country</li>
                        <li><i class="fas fa-phone-alt"></i> +1234567890</li>
                        <li><i class="fas fa-envelope"></i> contact@feane.com</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div>
            </div>
            <hr class="mt-4 mb-3">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 Feane. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>


