@inherits LayoutComponentBase
<div class="page">
    <nav>
        <NavMenu />
        @* <NavMenuAdmin /> *@
    </nav>

    <main>
        @Body
    </main>
    @* Cuối *@
    <footer class="text-light py-5 my-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Về Fast Foods</h5>
                    <p>Đồ ăn nhanh Fast Foods là điểm đến hàng đầu cho những trải nghiệm ẩm thực tinh tế, mang đến sự kết hợp hương vị làm hài lòng các giác quan.</p>
                </div>
                <div class="col-md-4">
                    <h5>Thông Tin Liên Hệ</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-map-marker-alt"></i> 123 Đường, Thành Phố Hồ Chí Minh, Việt Nam</li>
                        <li><i class="fas fa-phone-alt"></i> +1234567890</li>
                        <li><i class="fas fa-envelope"></i> contact@feane.com</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Theo Dõi Chúng Tôi</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div>
            </div>
            <hr class="mt-4 mb-3">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Nhóm 4 phát triển </p>
                </div>
            </div>
        </div>
    </footer>
</div>


