/* Navbar background and height */
.navbar {
    background-color: #17a2b8;
    height: 60px;
}

/* Navbar brand */
.navbar-brand {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Navbar toggler icon */
.navbar-toggler-icon {
    color: #ffffff;
    /* Navbar links */
    .navbar-nav .nav-link

{
    color: #ffffff;
    font-size: 1.1rem;
    margin: 0 10px;
}

/* Active link */
.navbar-nav .nav-link.active {
    font-weight: bold;
}

/* Form search */
.navbar form {
    margin-left: auto;
}

/* Giỏ hàng và Đăng kí/Đăng nhập */
.navbar .nav-link {
    color: #ffffff;
    text-decoration: none;
}

    /* Biểu tượng và chữ của Giỏ hàng và Đăng kí/Đăng nhập */
    .navbar .nav-link i {
        font-size: 1.2rem;
    }

    .navbar .nav-link .mx-2 {
        font-size: 0.9rem;
    }
